<!Doctype HTML>
<HTML>
<HEAD>
<TITLE>Criando uma Aplicação com o Poderoso Django e Python </TITLE> 
<meta charset="utf-8">
</head>
<body>
<p>Hi There!</p>
<p>It Works!</p>
</body>
<div>
<h1><a href="/" > Blog Django Girls </a></h1>
</div>
<div>
<p>Publicado em 20/01/2020</p>
<h2><a href="" >Meu Primeiro Post</a></h2>
<p>A origem da festa do Halloween possui uma grande trajetória, visto ser praticada há mais de 3 mil anos.
Ela surgiu com os celtas, povo que era politeísta e acreditava em diversos deuses relacionados com os animais 
e as forças da natureza.
Os celtas celebravam o festival de Samhain, o qual tinha a duração de 3 dias, com início no dia 31 de outubro. 
Nela, além de se comemorar o fim do verão, comemorava-se a passagem do ano celta, que tinha início no dia 1 
de novembro.</p>
</div>
<div>
<p>Publicado em 15/01/2020</p>
<h2><a href="/" >Meu Segundo Post</a></h2>
<p>
A história do Egito divide-se em três fases: o Antigo Império; Médio Império e o Novo Império.
Ao longo desses três períodos, o Egito atingiu o apogeu. Porém, a partir do século VII a.C. o Egito foi invadido 
por vários povos e perdeu o seu antigo esplendor. A seguir, uma rápida explanação sobre cada período.
ANTIGO IMPÉRIO (3200 a.C. – 2100 a. C.)
Durante o Antigo Império foram construídas obras de drenagem e irrigação, que permitiram a expansão da agricultura; 
são desse período ainda as grandes pirâmides dos faraós Quéops, Quéfren e Miquerinos, construídas nas proximidades 
de Mênfis, a capital do Egito na época.

</p>
</div>
<p></p>
</html>